<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>NextFlix - What to watch next on Netflix?</title>
</head>
<body style="background-color:#B60C0C" class="container-fluid" >
<nav class="navbar navbar-expand-lg navbar-dark bg-light" style="background-color:#B60C0A !important">
  <a class="navbar-brand" href="#">NextFlix</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active ml-3">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item ml-3">
        <a class="nav-link" href="/search">Add to my list</a>
      </li>

      <li class="nav-item ml-3">
        <a class="nav-link" href="/explore">Explore</a>
      </li>

      <li class="nav-item ml-3">
        <a class="nav-link" href="/watchlists">My Watchlists</a>
      </li>


      <li class="nav-item ml-3">
        <a class="nav-link" href="/stats">Stats</a>
      </li>

      <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <li class="nav-item ml-3">
          <a class="nav-link" href="/shows">Admin list</a>
        </li>
      </th:block>

    </ul>
    <a href="/search#searching"> <img src="/images/15-157749_white-magnifying-glass-clip-art-at-clker-magnifying.png" style="width:30px" class="mr-3"></a>
    <a sec:authorize="isAnonymous()" href="/login"> <button class="btn btn-success" >Login</button></a>
    <a sec:authorize="isAuthenticated()" href="/logout"> <button class="btn btn-success" >Logout</button></a>
  </div>
</nav>


<section class=" mt-5 mb-5 text-center text-light">
  <div class="container">
    <h1 class="jumbotron-heading" > Details</h1>
  </div>
</section>

  <div class="row mb-5">
    <div class="col-3"></div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-500">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success" th:text="${show.getListedIn()}"></strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#" th:text="${show.getTitle()}"></a>
          </h3>
          <div class="mb-1 text-muted" th:text="${show.getReleaseYear()+ ', ' + show.getDuration()}"></div>
          <p class="card-text  mb-auto" th:text="${show.getDescription()}"></p>
          <hr>
          <b>Cast:</b>
          <p class="card-text mb-auto" th:text="${show.getActors()}"></p>
          <b>Rating:</b>
          <p class="card-text mb-auto" th:text="${show.getRating()}"></p>

          <div class="row">
          <a th:href="@{'/shows/{id}/addwatchlist' (id=${show.getId()})}"><button class="btn btn-success m-1">Add to my list</button></a>
            <div th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{'/shows/{id}/edit' (id=${show.id})}"><button class="btn btn-warning m-1">Edit</button></a>
          <a th:href="@{'/shows/{id}/delete' (id=${show.id})}"><button class="btn btn-danger m-1">Delete</button></a>
            </div>
          </div>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block h-25 details-image" th:src="${show.getImageUrl()}" alt="Card image cap" style=" width: 100%;height: 20vw; object-fit: cover;">
      </div>
    </div>
    <div class="col-3"></div>
  </div>




</div>


<!-- Footer -->
<footer class="text-light m-3 text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">About this project</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-light">Home</a>
          </li>
          <li>
            <a href="#!" class="text-light">Explore</a>
          </li>
          <li>
            <a href="#!" class="text-light">Search and add</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">My NextFlix</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-light">Profile</a>
          </li>
          <li>
            <a href="#!" class="text-light">My List</a>
          </li>
          <li>
            <a href="#!" class="text-light">My Ratings/Comments</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright: FINKI Web Programming
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


</body>
</html>